:root {
    --bgColor: white;
    --inputColor: black;
    --outlineColor: dodgerblue;
    --beamColor: yellow;
    --spacer: 1rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    place-items: center;
    background: var(--bgColor);
  }
  
  form {
    transform: translate3d(0,0,0);
    padding: var(--spacer);
    
    > * + * {
      margin-top: var(--spacer);
    }
  }
  
  .form-item {
    > * + * {
      margin-top: 0.5rem;
    }
  }
  
  label,
  input,
  button {
    font-size: 1.5rem;
    font-family: monospace;
    color: var(--inputColor);
    
    &:focus {
      outline: 3px solid var(--outlineColor);
      outline-offset: 2px;
    }
    
    &::-moz-focus-inner {
      border: none;
    }
    
    &[id="password"] {
      color: black;
    }
  }
  
  button {
    border: none;
  }
  
  [id="submit"] {
    cursor: pointer;
    margin: calc(var(--spacer) * 2) 0 0 2px;
    padding: 0.75rem 1.25rem;
    color: var(--bgColor);
    background-color: var(--inputColor);
    box-shadow: 4px 4px 0 rgba(dodgerblue, 0.2);
    
    &:active {
      transform: translateY(1px);
    }
  }
  
  .input-wrapper {
    position: relative;
  }
  
  input {
    padding: 0.75rem 4rem 0.75rem 0.75rem;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 0;
    background-color: transparent;
    box-shadow: 
      inset 0 0 0 2px black,
      inset 6px 6px 0 rgba(dodgerblue, 0.2),
      3px 3px 0 rgba(dodgerblue, 0.2);
    -webkit-appearance: none;
  
    &:focus {
      outline-offset: 1px;
    }
  }
  